<%- include('partials/header') %>

<div class="container">
  <h1>Register</h1>
  <% if (errorMessage && errorMessage.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= errorMessage[0] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (successMessage && successMessage.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= successMessage[0] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

  <form action="/register" method="POST">
    <!-- CSRF Token -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
      <small class="form-text text-muted">
  Password must be at least 8 characters long and include uppercase, lowercase, a number, and a special character (e.g., !@#$%^&*).
</small>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <a href="/login" class="btn btn-link">Login</a>
    <button type="reset" class="btn btn-secondary">Clear</button>
  </form>
</div>

<%- include('partials/footer') %>
